<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>text vs utext</h1>
<ul>
    <li>th:text 사용 <span th:text="${data}"></span></li> <!-- 항상 태그 필요 -->
    <!-- Unescape : 이스케이프 기능을 사용하지 않음 -->
    <li>th:utext 사용 <span th:utext="${data}"></span></li> <!-- 항상 태그 필요 -->
</ul>

<h1><span th:inline="none">[[...]] vs [(...)]</span></h1>
<ul>
    <li><span th:inline="none">[[...]] = </span>[[${data}]]</li>
    <!-- Unescape : 이스케이프 기능을 사용하지 않음 -->
    <li><span th:inline="none">[(...)] = </span>[(${data})]</li>
</ul>

</body>
</html>